
<%= search_form_for @q, url: buyers_search_path do |f| %>

  <%=  f.label "Bedrooms:" %>
  <%=  f.select :number_bedrooms_lteq, options_for_select(rooms, @q.number_bedrooms_cont) %>

  <%=  f.label "Bathrooms:", class: "left-padding" %>
  <%=  f.select :number_bathrooms_lteq, options_for_select(rooms, @q.number_bathrooms_cont) %>

  <%= f.label :city, class: "left-padding" %>
  <%= f.search_field :city_cont, class: "pretty-form-box" %>

  <%=  f.label :state, class: "left-padding" %>
  <%=  f.select :state_cont, options_for_select(us_states, @q.state_cont) %>

  <%=  f.label "Max listing price estimate:", class: "left-padding" %>
  <%=  f.select :max_price_gteq, options_for_select(max_price, @q.max_price_cont) %>
  
  <div class="col-md-10 col-md-offset-4" id="top-margin-search-button">
    <%= f.submit "Search!", class: "btn btn-large btn-primary left-padding col-md-4", id: "buyer-search" %>
  </div>

<% end %>