<!DOCTYPE html>
<html>
<head>
  <title>Buyer Search</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <%= render 'layouts/navbar' %>
  <% end %>


<!-- TODO: customize the flash messages -->
  <% if user_signed_in? %>
    <p class="notice alert-success"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <% end %>

<%= yield %>

</body>
</html>
